/****** Object:  Database [QL_CUAHANG3]    Script Date: 12/10/2023 4:51:04 AM ******/
CREATE DATABASE [QL_CUAHANG3]
GO
USE [QL_CUAHANG3]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MACTHD] [nvarchar](5) NOT NULL,
	[MAHD] [nvarchar](5) NULL,
	[MASP] [nvarchar](5) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAPHANG]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAPHANG](
	[MACTPHIEUNHAP] [nvarchar](5) NOT NULL,
	[MAPHIEUNHAP] [nvarchar](5) NULL,
	[MASP] [nvarchar](5) NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_ManHinh]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ManHinh](
	[MaManHinh] [nvarchar](50) NOT NULL,
	[TenManHinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dulieuTrans]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dulieuTrans](
	[MAHD] [nvarchar](5) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[MAKH] [nvarchar](5) NULL,
	[MANV] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[MACTHD] [nvarchar](5) NULL,
	[MASP] [nvarchar](5) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](5) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[MAKH] [nvarchar](5) NULL,
	[MANV] [nvarchar](50) NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](5) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [nvarchar](5) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [nvarchar](5) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](50) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[LUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAP] [nvarchar](5) NOT NULL,
	[MANCC] [nvarchar](5) NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NguoiDung]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguoiDung](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_QL_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NguoiDungNhomNguoiDung]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguoiDungNhomNguoiDung](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MaNhomNguoiDung] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NguoiDungNhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_NhomNguoiDung]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NhomNguoiDung](
	[MaNhom] [varchar](20) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QL_PhanQuyen]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_PhanQuyen](
	[MaNhomNguoiDung] [nvarchar](20) NOT NULL,
	[MaManHinh] [nvarchar](50) NOT NULL,
	[CoQuyen] [bit] NOT NULL,
 CONSTRAINT [PK_QL_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomNguoiDung] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](5) NOT NULL,
	[hinh] [nvarchar](50) NULL,
	[TENSP] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
	[MALOAI] [nvarchar](5) NULL,
	[MANCC] [nvarchar](5) NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD100', N'HD10', N'SP3', 27, 150000)
INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD110', N'HD11', N'SP3', 1, 150000)
INSERT [dbo].[CTHOADON] ([MACTHD], [MAHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD120', N'HD12', N'SP4', 1, 250000)
GO
INSERT [dbo].[CTPHIEUNHAPHANG] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MASP], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'PN100', N'PN10', N'SP4', 1, N'Bao', 0)
INSERT [dbo].[CTPHIEUNHAPHANG] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MASP], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'PN110', N'PN11', N'SP9', 10, N'a', 0)
INSERT [dbo].[CTPHIEUNHAPHANG] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MASP], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'PN30', N'PN3', N'SP4', 1, N'Bao', 12000)
GO
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH1', N'Admin')
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH2', N'User')
GO
INSERT [dbo].[dulieuTrans] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN], [TRANGTHAI], [MACTHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD10', CAST(N'2023-12-04T00:00:00.000' AS DateTime), N'KHVL', N'NV1', 4050000, 1, N'HD100', N'SP3', 27, 150000)
INSERT [dbo].[dulieuTrans] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN], [TRANGTHAI], [MACTHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD11', CAST(N'2023-12-07T00:00:00.000' AS DateTime), N'KHVL', N'NV1', 150000, 1, N'HD110', N'SP3', 1, 150000)
INSERT [dbo].[dulieuTrans] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN], [TRANGTHAI], [MACTHD], [MASP], [SOLUONG], [DONGIA]) VALUES (N'HD12', CAST(N'2023-12-04T00:00:00.000' AS DateTime), N'KHVL', N'NV1', 250000, 1, N'HD120', N'SP4', 1, 250000)
GO
INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD10', CAST(N'2023-12-04T00:00:00.000' AS DateTime), N'KHVL', N'NV1', 4050000, 1)
INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD11', CAST(N'2023-12-04T00:00:00.000' AS DateTime), N'KHVL', N'NV1', 150000, 1)
INSERT [dbo].[HOADON] ([MAHD], [NGAYDAT], [MAKH], [MANV], [TONGTIEN], [TRANGTHAI]) VALUES (N'HD12', CAST(N'2023-12-04T00:00:00.000' AS DateTime), N'KHVL', N'NV1', 250000, 1)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [TRANGTHAI]) VALUES (N'KH1', N'Nguyễn Văn A', NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [TRANGTHAI]) VALUES (N'KH2', N'Nguyễn Thanh Nam', N'400 Tân Kỳ Tân Qúy', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [TRANGTHAI]) VALUES (N'KHVL', N'KHVL', NULL, NULL)
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L1', N'Phở')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L2', N'Gạo')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'L3', N'Quế')
GO
INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC1', N'Nhà Lê')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC2', N'Nguyễn Thiêm')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC]) VALUES (N'NCC3', N'Lương thực Miền Nam')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV1', N'Nguyễn Vương Giáng Hạ', N'Nữ', N'TPHCM', N'0123456789', 10000000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV2', N'Nguyễn Vân Nam', N'Nữ', N'TPHCM', N'056473823', 10000000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [DIACHI], [LUONG]) VALUES (N'NV3', N'Đăng Bình Thanh', N'Nam', N'TPHCM', N'0682946245', 10000000)
GO
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN1', NULL, NULL, NULL)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN10', N'NCC2', CAST(N'2023-12-07T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (N'PN11', N'NCC2', CAST(N'2023-12-07T00:00:00.000' AS DateTime), 0)
GO
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'NV1', N'123', 0)
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'NV2', N'123', 0)
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'NV3', N'123', 0)
GO
INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV1', N'Admin', N'')
INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV1', N'User', NULL)
INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'NV2', N'User', N'')
GO
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'Admin', N'Admin', N'')
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'User', N'User', N'')
GO
INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'Admin', N'MH001', 0)
INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'User', N'MH002', 0)
GO
INSERT [dbo].[SANPHAM] ([MASP], [hinh], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP1', N'pho.jpg', N'Phở vinfom', N'', N'L1', N'NCC7', 76, N'Gói', 6000)
INSERT [dbo].[SANPHAM] ([MASP], [hinh], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP2', N'que.jpg', N'Quế thanh', N'', N'L2', N'NCC2', 97, N'Gói', 12000)
INSERT [dbo].[SANPHAM] ([MASP], [hinh], [TENSP], [MOTA], [MALOAI], [MANCC], [SOLUONG], [DONVITINH], [DONGIA]) VALUES (N'SP3', N'dieu.jpg', N'Điều rang muối', N'', N'L5', N'NCC1', 70, N'H?p', 150000)
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
/****** Object:  StoredProcedure [dbo].[GopHoaDonVaChiTietHoaDon]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GopHoaDonVaChiTietHoaDon]
AS
BEGIN
    -- Tạo bảng dulieuTrans nếu chưa tồn tại
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'dulieuTrans')
    BEGIN
        CREATE TABLE dulieuTrans
        (
            MAHD NVARCHAR(5) PRIMARY KEY NOT NULL,
            NGAYDAT DATETIME,
            MAKH NVARCHAR(5),
            MANV NVARCHAR(50),
            TONGTIEN INT,
            TRANGTHAI INT,
            MACTHD NVARCHAR(5),
            MASP NVARCHAR(5),
            SOLUONG INT,
            DONGIA INT
        );
    END;

    -- Chèn dữ liệu từ bảng HOADON và CTHOADON vào bảng dulieuTrans
    INSERT INTO dulieuTrans (MAHD, NGAYDAT, MAKH, MANV, TONGTIEN, TRANGTHAI, MACTHD, MASP, SOLUONG, DONGIA)
    SELECT 
        h.MAHD, h.NGAYDAT, h.MAKH, h.MANV, h.TONGTIEN, h.TRANGTHAI, c.MACTHD, c.MASP, c.SOLUONG, c.DONGIA
    FROM 
        HOADON h
    INNER JOIN 
        CTHOADON c ON h.MAHD = c.MAHD;
END;
GO
/****** Object:  StoredProcedure [dbo].[ScalarQuery]    Script Date: 12/10/2023 4:51:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[ScalarQuery]
	AS
		SET NOCOUNT ON;
	SELECT        QL_NguoiDung.TenDangNhap, QL_NguoiDung.MatKhau
	FROM            QL_NguoiDung INNER JOIN
							 QL_NguoiDungNhomNguoiDung ON QL_NguoiDung.TenDangNhap = QL_NguoiDungNhomNguoiDung.TenDangNhap
	WHERE        (QL_NguoiDung.TenDangNhap = N'QL_NguoiDungNhomNguoiDung')
GO
USE [master]
GO
