<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_CUAHANG2ConnectionString"
            connectionString="Data Source=DESKTOP-3R4ARS4\HA;Initial Catalog=QL_CUAHANG2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_CUAHANG3ConnectionString"
            connectionString="Data Source=DESKTOP-3R4ARS4\HA;Initial Catalog=QL_CUAHANG3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>